<div class="container">

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Jugador</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jugador of jugadores">
                <td>{{ jugador.nombre }}</td>

            </tr>
            <button type="button" class="btn btn-outline-primary me-2 btn-lg" (click)=" obtenerJuego()" (click)=" obtenerMazo()">Play</button>

        </tbody>
    </table>


    <div class="wrapper">

        <div class="nombreJugadores">
            <h3 *ngFor="let jugador of jugadores">{{jugador.nombre}}</h3>
        </div>

        <h2>Tablero</h2>

        <div class="cards">

            <figure class="card">

                <img src="../../../assets/img/y2.png" />

                <figcaption>Poder</figcaption>

            </figure>

            <figure class="card">

                <img src="../../../assets/img/y2.png" />

                <figcaption>Poder</figcaption>

            </figure>

            <figure class="card">

                <img src="../../../assets/img/y2.png" />

                <figcaption *ngFor="let baraja of barajas">{{baraja.valor}}</figcaption>
                <figcaption class="log" *ngFor="let baraja of barajas">{{baraja.uri}}</figcaption>
                <figcaption class="log1" *ngFor="let baraja of barajas">{{baraja.nombre}}</figcaption>

            </figure>

            <figure class="card">

                <img src="../../../assets/img/y2.png" />

                <figcaption>Poder</figcaption>

            </figure>

        </div>

    </div>




    <h2>mazo</h2>

    <div *ngIf="barajas.length > 0" class="cards">

        <figure *ngFor="let baraja of barajas" class="card">

            <img [src]=baraja.uri class="img-carta">

            <figcaption>PODER {{baraja.valor}} {{baraja.nombre}}</figcaption>


        </figure>
    </div>

    <p>{{jugadores}}</p>
</div>